
.navcabecera{
   
    height: 60px;
    font-weight: 900;
}

ul{
    
     text-align: right;
    font-size: 30px;
    text-align: center;
    padding-right: 50px;
    height: 70px;
   }

li{
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    font-family: tahoma;

}

li:hover{
    color: red;
  
}

.palabrainicio{
   
    margin: 20px 30px;
 
   
}

.palabraservicio{
    margin: 20px;
}
.palabranosotros{
    margin: 20px;
}
.palabraconectenos{
    margin: 20px;
}

a{
    text-decoration: none;
    text-align: center;
    color: rgb(14, 13, 13);
}

a:hover{
    color: red;
}

img{
 width: 100%;
 display:flex;
 justify-content: center;
 align-items: center;

}
.img2{
    width: 50%;
}
.img3{
    width: 50%;
}

.img3{
    width: 50%;
}
.img4{
    width: 50%;
}

.img5{
    width: 50%;
}

.menuamburgert{
    font-size: 1.8em;
    float: right;
    margin-top: 50px;
    
}

.box_imagenes{
  display: grid;   
  width: 90%;
  background-color: blue;
  margin: 0 auto;  
  grid-template: "  yamaha td125" 
}





.yamaha{
    grid-area: yamaha;
}

.dt125{
    grid-area: dt125;
}

@media only screen and(min-width: 320px)
and(min-width: 100px){

ul li{
    visibility: hidden;
}
.menuamburgert{
   visibility: visible;
}



}